<div class="container">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input class="form-control" #box (input)="onNameChange(box.value)" />
    </div>

    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input
        type="date"
        class="form-control"
        #box1
        (input)="onDateChange(box1.value)"
      />
    </div>

    <div class="col">
      <label><b>Payment Date</b></label>
      <div>
        {{ date | date : "MMMM d, y" }}
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="form-group col">
      <label>Payment Amount</label>
      <input class="form-control" #box2 (input)="onAmountChange(box2.value)" />
    </div>

    <div class="col">
      <label><b>Payment Amount</b></label>
      <div>
        {{ amount | currency : "INR" }}
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <input class="form-control" #box3 (input)="onHeightChange(box3.value)" />
    </div>

    <div class="col">
      <label><b>Height</b></label>
      <div>
        {{ height | number : "1.1-3" }}
      </div>
    </div>
  </div>

  <br />

  <!-- {{ car | json }} -->

  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input class="form-control" #box4 (input)="onMilesChange(box4.value)" />
    </div>

    <div class="col">
      <label><b>Kilometers</b></label>
      <div *ngIf="(miles | convert : 'km') > 1">
        {{ miles | convert : "cm" | number : "1:1-2" }}
      </div>
    </div>
  </div>
</div>
